.App {
  text-align: center;
}

.App-header {
  background-color: #243250;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}

.App-body {
  margin-top: 1em;
}

select {
  text-align: center;
}
